@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
// @import '~bootstrap/scss/images';
// @import '~bootstrap/scss/code';
@import '~bootstrap/scss/grid';
// @import '~bootstrap/scss/tables';
// @import '~bootstrap/scss/forms';
// @import '~bootstrap/scss/buttons';
// @import '~bootstrap/scss/transitions';
// @import '~bootstrap/scss/dropdown';
// @import '~bootstrap/scss/button-group';
// @import '~bootstrap/scss/input-group';
// @import '~bootstrap/scss/custom-forms';
// @import '~bootstrap/scss/nav';
// @import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/card';
// @import '~bootstrap/scss/breadcrumb';
// @import '~bootstrap/scss/pagination';
// @import '~bootstrap/scss/badge';
// @import '~bootstrap/scss/jumbotron';
// @import '~bootstrap/scss/alert';
// @import '~bootstrap/scss/progress';
// @import '~bootstrap/scss/media';
// @import '~bootstrap/scss/list-group';
// @import '~bootstrap/scss/close';
// @import '~bootstrap/scss/modal';
// @import '~bootstrap/scss/tooltip';
// @import '~bootstrap/scss/popover';
// @import '~bootstrap/scss/carousel';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/print';
@import '~ngx-toastr/toastr-bs4-alert';

body {
  text-rendering: optimizeLegibility;
  background-color: #eee;
}

.droppable {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100px;
  background-color: lighten($primary, 45%);
  border: $primary dashed 2px;
  cursor: pointer;
}
.droppable:focus {
  outline: none;
}
.droppable:active {
  background-color: lighten($primary, 38%);
}
.dragover {
  background-color: lighten($primary, 38%);
}

h1 {
  font-weight: 600;
}
@include media-breakpoint-down(md) {
  h1 {
    font-size: $font-size-base * 2;
  }
}

// TOAST
// Position
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-container.toast-top-center .toast,
.toast-container.toast-bottom-center .toast {
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .toast,
.toast-container.toast-bottom-full-width .toast {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

// Toast
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;

  .toast {
    @include border-radius($alert-border-radius);
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
    width: 375px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.09);
    pointer-events: auto;

    .toast-title {
      font-weight: bold;
    }
    .toast-message {
      word-wrap: break-word;
    }
    .toast-message a:hover {
      text-decoration: underline;
    }
  }
  .toast:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    opacity: 1;
    cursor: pointer;
  }
}

.toast-success {
  color: theme-color-level('success', 6);
  background-color: theme-color-level('success', -10);
  border: 1px solid theme-color-level('success', -9);
}

// Responsive Design
@media all and (max-width: 240px) {
  .toast-container .toast.div {
    padding: 8px 8px 8px 50px;
    width: 100%;
  }
}
